# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE TUPLAS

### Ejercicio 1
Crear una tupla vacía

In [1]:
# Escribe tu solución aquí
tupla=()
tupla

()

### Ejercicio 2
Crear una tupla con algunos elementos

In [2]:
# Escribe tu solución aquí
tupla=(1,2,3,45)
tupla

(1, 2, 3, 45)

### Ejercicio 3
Acceder a un elemento de la tupla

In [3]:
# Escribe tu solución aquí
tupla[0]

1

### Ejercicio 4
Intentar modificar un elemento de la tupla (esto producirá un error ya que las tuplas son inmutables)

In [4]:
# Escribe tu solución aquí
NuevaLista = list(tupla)
NuevaLista[0] = 100
tupla = tuple(NuevaLista)
tupla

(100, 2, 3, 45)

### Ejercicio 5
Concatenar dos tuplas

In [19]:
# Escribe tu solución aquí
tupla2= ('a','e','i')
ComTupl = (tupla,tupla2)
ComTupl

((100, 2, 3, 45), ('a', 'e', 'i'))

### Ejercicio 6
Obtener la longitud de una tupla

In [20]:
# Escribe tu solución aquí
len(tupla)

4

### Ejercicio 7
Convertir una tupla en una lista

In [21]:
# Escribe tu solución aquí
LISTAS = list(tupla)
LISTAS

[100, 2, 3, 45]

### Ejercicio 8
Convertir una lista en una tupla

In [22]:
# Escribe tu solución aquí
TUPLAS = ()
TUPLAS = tuple(LISTAS)
TUPLAS

(100, 2, 3, 45)

### Ejercicio 9
Crear una tupla de números enteros y calcular su suma y promedio

In [24]:
# Escribe tu solución aquí
NUM = (1,2,3,4,5,6,7)
suma = 0
for e in NUM:
    suma =suma+e
print("La suma es ",suma, " y su promedio es de ",suma/len(NUM))

La suma es  28  y su promedio es de  4.0

### Ejercicio 10
Crear dos tuplas de la misma longitud y crear una nueva tupla que contenga la suma de los elementos correspondientes de ambas tuplas

In [26]:
# Escribe tu solución aquí
tup1 = (1,2,3,4)
tup2 = ('a','e','i','o')
totTup = tup1+tup2
len(totTup)

8

### Ejercicio 11
Crear una tupla de nombres y ordenarla alfabéticamente

In [27]:
# Escribe tu solución aquí
tupla = ("Carlos", "Ana", "Luis")
lista = list(tupla)

lista.sort()
print(lista)

['Ana', 'Carlos', 'Luis']

### Ejercicio 12
Crear una tupla de números y encontrar el valor mínimo y máximo

In [30]:
# Escribe tu solución aquí
print(min(NUM))
print(max(NUM))

1
7

### Ejercicio 13
Crear una tupla de números y convertirla en una lista

In [31]:
# Escribe tu solución aquí
numeross = (10, 20, 30, 40, 50)

lista_numeros = list(numeross)

print("Tupla original:", numeross)
print("Lista convertida:", lista_numeros)

Tupla original: (10, 20, 30, 40, 50)
Lista convertida: [10, 20, 30, 40, 50]

### Ejercicio 14
Crear una tupla con los días de la semana y mostrar el tercer elemento

In [32]:
# Escribe tu solución aquí
dias_semana = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")

print("El tercer día de la semana es:", dias_semana[2])

El tercer día de la semana es: Miércoles

### Ejercicio 15
Crear una tupla con números enteros y mostrar aquellos que son pares

In [34]:
# Escribe tu solución aquí
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for n in numeros:
    if n % 2 == 0:
        print(n)

2
4
6
8
10

### Ejercicio 16
Crear una tupla con los meses del año y mostrar aquellos que tienen más de cinco letras

In [35]:
# Escribe tu solución aquí
meses = ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", 
         "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")

print("Meses con más de cinco letras:")
for mes in meses:
    if len(mes) > 5:
        print(mes)

Meses con más de cinco letras:
Febrero
Agosto
Septiembre
Octubre
Noviembre
Diciembre

### Ejercicio 17
Crear una tupla con las edades de varias personas y mostrar la cantidad de personas mayores de 18 años

In [36]:
# Escribe tu solución aquí

edades = (15, 22, 18, 30, 12, 45, 19, 17)

mayores = 0
for edad in edades:
    if edad > 18:
        mayores += 1

print("Cantidad de personas mayores de 18 años:", mayores)

Cantidad de personas mayores de 18 años: 4

### Ejercicio 18
Crear una tupla de tuplas que contienen información de libros y mostrar el título del tercer libro

In [37]:
# Escribe tu solución aquí
libros = (
    ("Cien años de soledad", "Gabriel García Márquez", 1967),
    ("Don Quijote de la Mancha", "Miguel de Cervantes", 1605),
    ("La sombra del viento", "Carlos Ruiz Zafón", 2001),
    ("El principito", "Antoine de Saint-Exupéry", 1943)
)
print("El título del tercer libro es:", libros[2][0])

El título del tercer libro es: La sombra del viento